In [1]:
import numpy as np
import pandas as pd
from ast import literal_eval
import pickle

In [16]:
movies = pd.read_csv("./data/tmdb_5000_movies.csv")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [17]:
movies = movies[['id','title','genres','keywords','original_language','production_companies','production_countries','overview']]

In [9]:
credits = pd.read_csv("./data/tmdb_5000_credits.csv", usecols=['movie_id','cast','crew'])
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   cast      4803 non-null   object
 2   crew      4803 non-null   object
dtypes: int64(1), object(2)
memory usage: 112.7+ KB

In [18]:
movies = movies.merge(credits, left_on='id', right_on='movie_id')
movies.drop('movie_id', axis=1, inplace=True)

In [19]:
movies.columns

Index(['id', 'title', 'genres', 'keywords', 'original_language',
       'production_companies', 'production_countries', 'overview', 'cast',
       'crew'],
      dtype='object')

In [20]:
movies.shape

(4803, 10)

In [21]:
movies.isnull().sum()

id                      0
title                   0
genres                  0
keywords                0
original_language       0
production_companies    0
production_countries    0
overview                3
cast                    0
crew                    0
dtype: int64

# Data Cleaning

In [22]:
from ast import literal_eval

In [24]:
movies['genres'] = movies['genres'].apply(lambda x: [i['name'] for i in literal_eval(x)])
movies['keywords'] = movies['keywords'].apply(lambda x: [i['name'] for i in literal_eval(x)])

In [25]:
movies[['genres','keywords']].head()

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [26]:
def fetch_cast(obj):
    L = []
    counter = 0
    for i in literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

def fetch_director(x):
    L = []
    for i in literal_eval(x):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [27]:
movies['cast'] = movies['cast'].apply(fetch_cast)
movies['crew'] = movies['crew'].apply(fetch_director)

In [28]:
movies[['cast','crew']].head()

                                               cast                 crew
0  [Sam Worthington, Zoe Saldana, Sigourney Weaver]      [James Cameron]
1     [Johnny Depp, Orlando Bloom, Keira Knightley]     [Gore Verbinski]
2      [Daniel Craig, Christoph Waltz, Léa Seydoux]         [Sam Mendes]
3      [Christian Bale, Michael Caine, Gary Oldman]  [Christopher Nolan]
4    [Taylor Kitsch, Lynn Collins, Samantha Morton]     [Andrew Stanton]

In [29]:
# production companies
movies['production_companies'] = movies['production_companies'].apply(lambda x: [i['name'] for i in literal_eval(x)])
movies['production_countries'] = movies['production_countries'].apply(lambda x: [i['name'] for i in literal_eval(x)])

In [30]:
movies[['production_companies','production_countries']].head()

,production_companies,production_countries
0,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]"
1,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America]
2,"[Columbia Pictures, Danjaq, B24]","[United Kingdom, United States of America]"
3,"[Legendary Pictures, Warner Bros., DC Entertai...",[United States of America]
4,[Walt Disney Pictures],[United States of America]

In [38]:
movies['genres'] = movies['genres'].apply(lambda x: [str.lower(i.replace(" ","")) for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [str.lower(i.replace(" ","_")) for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [str.lower(i.replace(" ","_")) for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [str.lower(i.replace(" ","_")) for i in x])
movies['production_companies'] = movies['production_companies'].apply(lambda x: [str.lower(i.replace(" ","_")) for i in x])
movies['production_countries'] = movies['production_countries'].apply(lambda x: [str.lower(i.replace(" ","_")) for i in x])
movies['original_language'] = movies['original_language'].apply(lambda x: [x])

In [39]:
movies['overview'][0]

['nd centuri parapleg marin dispatch moon pandora uniqu mission becom torn follow order protect alien civil']

In [32]:
from nltk.stem.porter import PorterStemmer
import re
ps = PorterStemmer()
from nltk.corpus import stopwords
stwords = stopwords.words('english')

def stem(text):
    y = []
    text = re.sub('[^a-zA-Z]', ' ', text)
    text = text.lower()
    text = text.split()
    for word in text:
        if not word in stwords:
            y.append(ps.stem(word))

    return  [" ".join(y)]

In [33]:
movies['overview'] = movies['overview'].fillna('')
movies['overview'] = movies['overview'].apply(stem)

In [34]:
movies['overview']

0       [nd centuri parapleg marin dispatch moon pando...
1       [captain barbossa long believ dead come back l...
2       [cryptic messag bond past send trail uncov sin...
3       [follow death district attorney harvey dent ba...
4       [john carter war weari former militari captain...
                              ...
4798    [el mariachi want play guitar carri famili tra...
4799    [newlyw coupl honeymoon upend arriv respect si...
4800    [sign seal deliv introduc dedic quartet civil ...
4801    [ambiti new york attorney sam sent shanghai as...
4802    [ever sinc second grade first saw e extraterre...
Name: overview, Length: 4803, dtype: object

In [35]:
movies.columns

Index(['id', 'title', 'genres', 'keywords', 'original_language',
       'production_companies', 'production_countries', 'overview', 'cast',
       'crew'],
      dtype='object')

In [40]:
movies.head()

,id,title,genres,keywords,original_language,production_companies,production_countries,overview,cast,crew
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[culture_clash, future, space_war, space_colon...",[en],"[ingenious_film_partners, twentieth_century_fo...","[united_states_of_america, united_kingdom]",[nd centuri parapleg marin dispatch moon pando...,"[sam_worthington, zoe_saldana, sigourney_weaver]",[james_cameron]
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[ocean, drug_abuse, exotic_island, east_india_...",[en],"[walt_disney_pictures, jerry_bruckheimer_films...",[united_states_of_america],[captain barbossa long believ dead come back l...,"[johnny_depp, orlando_bloom, keira_knightley]",[gore_verbinski]
2,206647,Spectre,"[action, adventure, crime]","[spy, based_on_novel, secret_agent, sequel, mi...",[en],"[columbia_pictures, danjaq, b24]","[united_kingdom, united_states_of_america]",[cryptic messag bond past send trail uncov sin...,"[daniel_craig, christoph_waltz, léa_seydoux]",[sam_mendes]
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[dc_comics, crime_fighter, terrorist, secret_i...",[en],"[legendary_pictures, warner_bros., dc_entertai...",[united_states_of_america],[follow death district attorney harvey dent ba...,"[christian_bale, michael_caine, gary_oldman]",[christopher_nolan]
4,49529,John Carter,"[action, adventure, sciencefiction]","[based_on_novel, mars, medallion, space_travel...",[en],[walt_disney_pictures],[united_states_of_america],[john carter war weari former militari captain...,"[taylor_kitsch, lynn_collins, samantha_morton]",[andrew_stanton]

In [41]:
movies['tags'] = movies['genres']+movies['keywords']+movies['original_language']+movies['production_companies'] \
            +movies['production_countries']+movies['cast']+movies['crew']
print(movies['tags'][0])

['action', 'adventure', 'fantasy', 'sciencefiction', 'culture_clash', 'future', 'space_war', 'space_colony', 'society', 'space_travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien_planet', 'cgi', 'marine', 'soldier', 'battle', 'love_affair', 'anti_war', 'power_relations', 'mind_and_soul', '3d', 'en', 'ingenious_film_partners', 'twentieth_century_fox_film_corporation', 'dune_entertainment', 'lightstorm_entertainment', 'united_states_of_america', 'united_kingdom', 'sam_worthington', 'zoe_saldana', 'sigourney_weaver', 'james_cameron']

In [42]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))
movies['tags'][0]

'action adventure fantasy sciencefiction culture_clash future space_war space_colony society space_travel futuristic romance space alien tribe alien_planet cgi marine soldier battle love_affair anti_war power_relations mind_and_soul 3d en ingenious_film_partners twentieth_century_fox_film_corporation dune_entertainment lightstorm_entertainment united_states_of_america united_kingdom sam_worthington zoe_saldana sigourney_weaver james_cameron'

In [43]:
movies['overview'] = movies['overview'].apply(lambda x: " ".join(x))
movies['overview'][0]

'nd centuri parapleg marin dispatch moon pandora uniqu mission becom torn follow order protect alien civil'

In [44]:
df = movies[['id','title','tags','overview']]

In [45]:
pickle.dump(df.to_dict(), open('movies.pkl','wb'))

In [97]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000)

In [98]:
vectors = cv.fit_transform(new_df).toarray()

In [99]:
vectors.shape

(4803, 5000)

In [100]:
from sklearn.metrics.pairwise import cosine_similarity

In [101]:
similarity = cosine_similarity([vectors[0]],vectors)

In [102]:
similarity.shape

(1, 4803)

In [49]:
def get_recommendations(movie):
    idx = movies[movies['title']==movie].index[0]
    sim_scores = list(enumerate(similarity[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movies['title'].iloc[movie_indices]

In [50]:
get_recommendations('Avatar')

1216                  Aliens vs Predator: Requiem
507                              Independence Day
539                                    Titan A.E.
2409                                       Aliens
1204                                    Predators
260                                  Ender's Game
61                              Jupiter Ascending
778                                     Meet Dave
1920                                    Lifeforce
172     The Twilight Saga: Breaking Dawn - Part 2
Name: title, dtype: object

In [51]:
get_recommendations('The Twilight Saga: Breaking Dawn - Part 2')

1340                                             Twilight
898                           The Twilight Saga: New Moon
612                            The Twilight Saga: Eclipse
4355                                       Love Me Tender
777                 The Mortal Instruments: City of Bones
2699                                   New York, New York
4641    The Incredibly True Adventure of Two Girls In ...
912                            Interview with the Vampire
2480                              Arn: The Knight Templar
4314                                               Desire
Name: title, dtype: object

In [56]:
get_recommendations('The Avengers')

7                     Avengers: Age of Ultron
31                                 Iron Man 3
26                 Captain America: Civil War
169        Captain America: The First Avenger
68                                   Iron Man
182                                   Ant-Man
215    Fantastic 4: Rise of the Silver Surfer
85        Captain America: The Winter Soldier
511                                     X-Men
126                      Thor: The Dark World
Name: title, dtype: object

In [65]:
import pickle

In [72]:
pickle.dump(movies.to_dict(), open('movie_dict.pkl','wb'))

In [67]:
pickle.dump(similarity, open('similarity.pkl','wb'))

In [78]:
import requests
def fetch_poster(movie_id):
    response = requests.get("https://api.themoviedb.org/3/movie/{}?api_key=4d3a04e97e46d3313ca2082c381d09e2&language=en-US".format(movie_id))
    data = response.json()
    return data

def get_popular_movies(df):
    popular_movies = dict()
    for i in list(df.sort_values('popularity_score', ascending=False)['movie_id'].head(8)):
        popular_movies[i] = fetch_poster(i)
        
    return popular_movies

In [79]:
d = get_popular_movies(movies)

In [80]:
d

{278: {'adult': False,
  'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
  'belongs_to_collection': None,
  'budget': 25000000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
  'homepage': '',
  'id': 278,
  'imdb_id': 'tt0111161',
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 88.33,
  'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
  'production_companies': [{'id': 97,
    'logo_path': '/7znWcbDd4PcJzJUlJxYqAlPPykp.png',
    'name': 'Castle Rock Entertainment',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1994-09-23',
  'revenue': 28341469,
  'runtime': 142,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'Fear can hold you prisoner. Hope can set you free.',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.7,
  'vote_count': 22640},
 550: {'adult': False,
  'backdrop_path': '/c6OLXfKAk5BKeR6broC8pYiCquX.jpg',
  'belongs_to_collection': None,
  'budget': 63000000,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 53, 'name': 'Thriller'},
   {'id': 35, 'name': 'Comedy'}],
  'homepage': 'http://www.foxmovies.com/movies/fight-club',
  'id': 550,
  'imdb_id': 'tt0137523',
  'original_language': 'en',
  'original_title': 'Fight Club',
  'overview': 'A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.',
  'popularity': 110.026,
  'poster_path': '/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg',
  'production_companies': [{'id': 508,
    'logo_path': '/7cxRWzi4LsVm4Utfpr1hfARNurT.png',
    'name': 'Regency Enterprises',
    'origin_country': 'US'},
   {'id': 711,
    'logo_path': '/tEiIH5QesdheJmDAqQwvtN60727.png',
    'name': 'Fox 2000 Pictures',
    'origin_country': 'US'},
   {'id': 4700,
    'logo_path': '/A32wmjrs9Psf4zw0uaixF0GXfxq.png',
    'name': 'The Linson Company',
    'origin_country': 'US'},
   {'id': 20555,
    'logo_path': '/hD8yEGUBlHOcfHYbujp71vD8gZp.png',
    'name': 'Taurus Film',
    'origin_country': 'DE'},
   {'id': 54051,
    'logo_path': None,
    'name': 'Atman Entertainment',
    'origin_country': ''},
   {'id': 54052,
    'logo_path': None,
    'name': 'Knickerbocker Films',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '1999-10-15',
  'revenue': 100853753,
  'runtime': 139,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'Mischief. Mayhem. Soap.',
  'title': 'Fight Club',
  'video': False,
  'vote_average': 8.427,
  'vote_count': 25160},
 155: {'adult': False,
  'backdrop_path': '/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg',
  'belongs_to_collection': {'id': 263,
   'name': 'The Dark Knight Collection',
   'poster_path': '/hGvOMQBD88jAV0olS2DT1AxreHn.jpg',
   'backdrop_path': '/xfKot7lqaiW4XpL5TtDlVBA9ei9.jpg'},
  'budget': 185000000,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 28, 'name': 'Action'},
   {'id': 80, 'name': 'Crime'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': 'https://www.warnerbros.com/movies/dark-knight/',
  'id': 155,
  'imdb_id': 'tt0468569',
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 106.462,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'production_companies': [{'id': 174,
    'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
    'name': 'Warner Bros. Pictures',
    'origin_country': 'US'},
   {'id': 429,
    'logo_path': '/2Tc1P3Ac8M479naPp1kYT3izLS5.png',
    'name': 'DC Comics',
    'origin_country': 'US'},
   {'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Pictures',
    'origin_country': 'US'},
   {'id': 9996,
    'logo_path': '/3tvBqYsBhxWeHlu62SIJ1el93O7.png',
    'name': 'Syncopy',
    'origin_country': 'GB'},
   {'id': 118865,
    'logo_path': None,
    'name': 'Isobel Griffiths',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '2008-07-14',
  'revenue': 1004558444,
  'runtime': 152,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Mandarin', 'iso_639_1': 'zh', 'name': '普通话'}],
  'status': 'Released',
  'tagline': 'Welcome to a world without rules.',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.503,
  'vote_count': 28565},
 680: {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'belongs_to_collection': None,
  'budget': 8000000,
  'genres': [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}],
  'homepage': 'https://www.miramax.com/movie/pulp-fiction/',
  'id': 680,
  'imdb_id': 'tt0110912',
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 116.225,
  'poster_path': '/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg',
  'production_companies': [{'id': 14,
    'logo_path': '/m6AHu84oZQxvq7n1rsvMNJIAsMu.png',
    'name': 'Miramax',
    'origin_country': 'US'},
   {'id': 59,
    'logo_path': '/yH7OMeSxhfP0AVM6iT0rsF3F4ZC.png',
    'name': 'A Band Apart',
    'origin_country': 'US'},
   {'id': 216,
    'logo_path': None,
    'name': 'Jersey Films',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1994-09-10',
  'revenue': 214179088,
  'runtime': 154,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'},
   {'english_name': 'French', 'iso_639_1': 'fr', 'name': 'Français'}],
  'status': 'Released',
  'tagline': "Just because you are a character doesn't mean you have character.",
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 24043},
 27205: {'adult': False,
  'backdrop_path': '/s3TBrRGB1iav7gFOCNx3H31MoES.jpg',
  'belongs_to_collection': None,
  'budget': 160000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 12, 'name': 'Adventure'}],
  'homepage': 'https://www.warnerbros.com/movies/inception',
  'id': 27205,
  'imdb_id': 'tt1375666',
  'original_language': 'en',
  'original_title': 'Inception',
  'overview': 'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.',
  'popularity': 116.251,
  'poster_path': '/8IB2e4r4oVhHnANbnm7O3Tj6tF8.jpg',
  'production_companies': [{'id': 174,
    'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
    'name': 'Warner Bros. Pictures',
    'origin_country': 'US'},
   {'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Pictures',
    'origin_country': 'US'},
   {'id': 9996,
    'logo_path': '/3tvBqYsBhxWeHlu62SIJ1el93O7.png',
    'name': 'Syncopy',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '2010-07-15',
  'revenue': 825532764,
  'runtime': 148,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'},
   {'english_name': 'Swahili', 'iso_639_1': 'sw', 'name': 'Kiswahili'}],
  'status': 'Released',
  'tagline': 'Your mind is the scene of the crime.',
  'title': 'Inception',
  'video': False,
  'vote_average': 8.358,
  'vote_count': 32579},
 238: {'adult': False,
  'backdrop_path': '/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg',
  'belongs_to_collection': {'id': 230,
   'name': 'The Godfather Collection',
   'poster_path': '/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg',
   'backdrop_path': '/3WZTxpgscsmoUk81TuECXdFOD0R.jpg'},
  'budget': 6000000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
  'homepage': 'http://www.thegodfather.com/',
  'id': 238,
  'imdb_id': 'tt0068646',
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 115.717,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/gz66EfNoYPqHTYI4q9UEN4CbHRc.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 10211,
    'logo_path': None,
    'name': 'Alfran Productions',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1972-03-14',
  'revenue': 245066411,
  'runtime': 175,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Italian', 'iso_639_1': 'it', 'name': 'Italiano'},
   {'english_name': 'Latin', 'iso_639_1': 'la', 'name': 'Latin'}],
  'status': 'Released',
  'tagline': "An offer you can't refuse.",
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.715,
  'vote_count': 16898},
 157336: {'adult': False,
  'backdrop_path': '/vgnoBSVzWAV9sNQUORaDGvDp7wx.jpg',
  'belongs_to_collection': None,
  'budget': 165000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 18, 'name': 'Drama'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://www.interstellarmovie.net/',
  'id': 157336,
  'imdb_id': 'tt0816692',
  'original_language': 'en',
  'original_title': 'Interstellar',
  'overview': 'The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.',
  'popularity': 290.191,
  'poster_path': '/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg',
  'production_companies': [{'id': 923,
    'logo_path': '/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png',
    'name': 'Legendary Pictures',
    'origin_country': 'US'},
   {'id': 9996,
    'logo_path': '/3tvBqYsBhxWeHlu62SIJ1el93O7.png',
    'name': 'Syncopy',
    'origin_country': 'GB'},
   {'id': 13769,
    'logo_path': None,
    'name': 'Lynda Obst Productions',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '2014-11-05',
  'revenue': 701729206,
  'runtime': 169,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'Mankind was born on Earth. It was never meant to die here.',
  'title': 'Interstellar',
  'video': False,
  'vote_average': 8.382,
  'vote_count': 29766},
 13: {'adult': False,
  'backdrop_path': '/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg',
  'belongs_to_collection': None,
  'budget': 55000000,
  'genres': [{'id': 35, 'name': 'Comedy'},
   {'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'}],
  'homepage': 'https://www.paramountmovies.com/movies/forrest-gump',
  'id': 13,
  'imdb_id': 'tt0109830',
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 68.745,
  'poster_path': '/saHP97rTPS5eLmrLQEcANmKrsFl.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/gz66EfNoYPqHTYI4q9UEN4CbHRc.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 412,
    'logo_path': None,
    'name': 'Wendy Finerman Productions',
    'origin_country': ''},
   {'id': 21920,
    'logo_path': None,
    'name': 'The Steve Tisch Company',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1994-06-23',
  'revenue': 677387716,
  'runtime': 142,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': "The world will never be the same once you've seen it through the eyes of Forrest Gump.",
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.481,
  'vote_count': 23589}}

In [84]:
for i in d.keys():
    print(i)

278
550
155
680
27205
238
157336
13

In [83]:
d[278]['poster_path']

'/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg'

In [85]:
d[278]

{'adult': False,
 'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
 'belongs_to_collection': None,
 'budget': 25000000,
 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
 'homepage': '',
 'id': 278,
 'imdb_id': 'tt0111161',
 'original_language': 'en',
 'original_title': 'The Shawshank Redemption',
 'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
 'popularity': 88.33,
 'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg',
 'production_companies': [{'id': 97,
   'logo_path': '/7znWcbDd4PcJzJUlJxYqAlPPykp.png',
   'name': 'Castle Rock Entertainment',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1994-09-23',
 'revenue': 28341469,
 'runtime': 142,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Fear can hold you prisoner. Hope can set you free.',
 'title': 'The Shawshank Redemption',
 'video': False,
 'vote_average': 8.7,
 'vote_count': 22640}

In [93]:
for i in d[278]['spoken_languages']:
    print(i['name'])

English

In [90]:
d[278]['genres'][0]

{'id': 18, 'name': 'Drama'}

In [94]:
def get_recommendations(id):
    idx = movies[movies['movie_id']==id].index[0]
    sim_scores = list(enumerate(similarity[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movies['movie_id'].iloc[movie_indices]

In [96]:
list(get_recommendations(14161))

[9341, 30379, 47933, 88751, 56288, 19585, 49521, 10195, 12589, 24432]